.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 1024px;
    margin: 0 auto;
    padding: 8px 0;
}

.navLink {
    margin-left: auto;
    list-style: none;
    display: flex;
}

.navLink a {
    padding: 8px 16px;
    display: block;
    text-decoration: none;
    color: #14171f;
}

.ctaLink {
    color: #f9995d;
    font-weight: 500;
}

.logoWapper {
    display: flex;
    align-items: center;
}

.brand {
    margin-left: 8px;
    font-size: 30px;
    font-weight: 500;
    color: #2947A9;
}

.hero {
    height: 100%;
    /**/
    width: 100%;
    overflow: hidden;
    position: relative;

}

.heroImg {
    width: 100%;
    height: 80%;
}

.heroContainer {
    position: absolute;
    inset: 0;
}

.heroContent {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 100%;
}

.heroHeading {
    font-size: 72px;
    font-weight: 500;
}

.feature {
    width: 304.4px;
    height: 109px;
    background-color: #3559C7;
    z-index: 1;
    position: absolute;
    bottom: 0;
    right: 0;
}

.buttonContainer {
    color: #FFFFFF;
    position: relative;
    display: flex;
}

.backButton {
    background-color: #292E3D;
    width: 152px;
    height: 29px;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;

}

.nextButton {
    background-color: #292E3D;
    width: 152px;
    height: 29px;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
}

.featureTitle {
    font-weight: bold;
    font-size: 15px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 10px;

}

.featureContent {
    font-weight: 300;
    font-size: 17px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 10px;

}